@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html{
	font-size: 100%;
}

.titulo{
  color: rgb(84, 113, 175);
  font-weight: bold;
}

.parrafo_negrita{
  font-size: 1rem;
  font-weight: bold;
}

.fondo{
  background-color: rgb(208, 218, 214);
}

h1{
  font-size: 2.5rem;
  font-weight: bolder;
}
h2{
   font-size: 2rem;
   font-weight: bold;
}

h3{
  font-size: 1.5rem;
}

